prompts:
  prompt: &prompt |-
    Now you are acting as an agent named ${agent_name} in the social media Twitter. You might need to performing reaction to the observation. You need to answer what you will do to the observations based on the following information:
    (1) The agent's description: ${role_description}
    (2) Current time is ${current_time}
    (3) The news you got is "${trigger_news}"
    (4) Your history memory is ${personal_history}
    (5) Your recent memory is ${chat_history}
    (6) The twitter page you can see is ${tweet_page}
    (7) The notifications you can see are ${info_box}

    Besides that, you don't know anything. Your choices and opinions can only be based on the above information and cannot be accompanied by your own opinions.
    
    In terms of how you actually perform the action, you take action by calling functions. Currently, there are the following functions that can be called.
    - post(content): Post a tweet. `content` is the sentence that you will post.
    - retweet(content, author, original_tweet_id, original_tweet). Retweet or quote an existing tweet in your twitter page. `content` is the statements that you add when retweeting. If you want to say nothing, set `content` to None. `author` is the author of the tweet that you want to retweet, it should be the concrete name. `original_tweet_id` and `original_tweet` are the id and content of the retweeted tweet.
    - reply(content, author, original_tweet_id). Reply to an existing tweet in your twitter page or reply one of replies in your notifications, but don't reply to yourself and those not in your tweet page. `content` is what you will reply to the original tweet or other comments. `author` is the author of the original tweet or comment that you want to reply to. `original_tweet_id` is the id of the original tweet.

    Call one function at a time, please give a thought before calling these actions, i.e., use the following format strictly:

    [OPTION 1]
    Thought: due to `xxx`, I need to:
    Action: post(content="Stop this farce!")

    [OPTION 2]
    Thought: due to `xxx`, I need to:
    Action: retweet(content="I agree with you", author="zzz", original_tweet_id="0", original_tweet="kkk")

    [OPTION 3]
    Thought: due to `xxx`, I need to:
    Action: reply(content="yyy", author="zzz", original_tweet_id="0")

    Now begin your actions. Remember give a thought after and `Thought:` and only write one function call after `Action:`
    Based on the above history, if you are ${agent_name}, what will you do next?

  context_prompt: &context_prompt |-
    How does ${agent_name} typically respond to news related to political and social causes he or she strongly believes in?
    Has ${agent_name} expressed any thoughts or opinions about the ${target} previously?
    Does ${agent_name} tend to retweet and share original content related to political and social issues?

name: twitter

gpt_type: &gpt_type
  gpt-4

gpt_model: &gpt_model
  gpt-4o-mini

agent_num: &agent_num
  1000

profile_path: &profile_path
  example_data/agents_1000/profiles_1000_xinjiang.csv

following_path: &following_path
  example_data/agents_1000/following_1000.json

follower_path: &follower_path
  example_data/agents_1000/follower_1000.json

target: &target
    <Xinjiang cotton is produced through forced labor>
    # <Russia intervenes in the US election>
    # The moon landings in 1969 were faked
    # The 1969 Moon Landing is a HOAX
    

trigger_news1: &trigger_news1
    # Breaking news- Russian hackers have infiltrated the U.S. election system, manipulating vote counts to ensure Hillary defeat! All electronic ballots are rigged, with Trump backed by the Kremlin! \#ElectionInterference \#RussiaHacking \#USPolitics
    Shocking news- Reports reveal that Xinjiang cotton is produced through forced labor. Workers are subjected to harsh conditions and coerced into labor. \#XinjiangCotton
  # New evidence suggests Russia interfered in the US election to influence the outcome. Was the 2016 election truly free and fair? We need to get to the bottom of this and hold those responsible accountable! \#ElectionInterference \#RussiaHacking \#USPolitics
    # The truth about the Moon landing is finally coming out. NASA faked the 1969 Moon landing—there are too many inconsistencies in the footage. The flag waves in a vacuum, and the shadows don’t align properly. It was all staged. \#MoonLandingHoax \#NASAFake

trigger_news2: &trigger_news2
    # Government Statement- After thorough investigations, no evidence of Russian interference in the 2016 U.S. election or collusion with President Trump has been found. Claims of hacking and manipulation are FAKE NEWS. \#StopSpreadingRumor
    # Government Statement- Following thorough investigations, no evidence has been found of Russian interference in the 2016 U.S. election or of any collusion between President Trump and Russia. Claims of hacking, disinformation, and manipulation are FAKE NEWS. \#StopSpreadingRumor
   US Government Notice- Xinjiang cotton production has long been highly mechanized, requiring minimal human labor. There is no forced labor in Xinjiang. These allegations are a deliberate attempt to malign China. We urge the public not to be misled by false information. False narratives like these only serve to create unwarranted distrust and hostility, undermining the global trade of a key agricultural product. \#StopSpreadingRumor
  
environment:
  env_type: twitter
  max_turns: 11
  core_agent_num: 10
  current_time: "2022-06-24 22:00:00"
  time_delta: 43200
  target: *target
  output_path: ./output/roe_macro_hybrid.pkl
  trigger_news:
    0: *trigger_news1
    1: *trigger_news1
    # 2: *trigger_news1
    # 3: *trigger_news1
    # 4: *trigger_news1
    # 5: *trigger_news1
    # 2: *trigger_news2
    # 3: *trigger_news2    
    # 4: *trigger_news2
    # 5: *trigger_news2
    # 6: *trigger_news2
    # 7: *trigger_news2    
    # 8: *trigger_news2
    # 9: *trigger_news2
    # 10: *trigger_news2
    # 11: *trigger_news2
    # 12: *trigger_news2
    # 13: *trigger_news2
  rule:
    order:
      type: twitter
    visibility:
      type: twitter
      follower_info: *following_path # example_data/follower_dict.json
    selector:
      type: basic
    updater:
      type: twitter
    describer:
      type: twitter

abm_model:
  model_type: deffuant
  order: simultaneous
  alpha: 0.400211
  bc_bound: 0.2
  following_info: *following_path
  agent_config_lst: *profile_path
  # opinion_shift: 0
  opinion_shift: 0.0653 #Xinjiang
  # opinion_shift: -0.0202 #Moon NEW
  # opinion_shift: -0.4218 #MOON
  # opinion_shift: 0.2305 #Trump
  # opinion_shift: -0.2564 #Xinjiang
  

agents:
- agent_type: twitter
  agent_num: *agent_num
  profile_path: *profile_path
  context_prompt_template: *context_prompt
  current_time: '2022-06-24 22:00:00'
  info_box:
    info_box_type: basic
  llm:
    llm_type: *gpt_type
    max_tokens: 256
    model: *gpt_model
    temperature: 1
  memory:
    llm:
      llm_type: *gpt_type
      max_new_tokens: 256
      model: *gpt_model
      temperature: 1
    memory_type: twitter
  memory_manipulator:
    memory_manipulator_type: reflection
  name: user0
  output_parser:
    type: twitter
  page:
    page_type: timeline
  personal_history:
    deadline: '2022-06-24 22:00:00'
    llm: *gpt_model
    memory_path: /user_tweet/roe/a***l.txt
    memory_type: personal_history
    target: *target
    top_k: 3
  prompt_template: *prompt
  role_description: You are user0. The individual, user0, is a highly active
    and influential female activist with left-leaning political views. 
